Markdown==3.4.1
numpy
requests
sentencepiece
tokenizers
torch
torchvision
uvicorn
wandb
httpx
transformers
accelerate
scikit-learn
sentencepiece
einops
einops-exts
timm
openai-clip
fsspec
kornia
matplotlib
ninja
omegaconf
open-clip-torch
opencv-python
pandas
Pillow
pytorch-lightning
PyYAML
scipy
tqdm
triton
urllib3
webdataset
facexlib
k-diffusion
diffusers
